@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Zamara</h1>
    <p>We are building towards the promise of a better today and
         a prosperous tomorrow with our trusted and simplified financial and 
         insurance solutions that cater to your unique needs, whether individual or business.</p>
</div>
<div class="row align-items-end">
<div class="col">
<div class="row">
    <b>About Us</b>
        <ul>
      <li>Our Leadership</li>
      <li>Contact Us</li>
    </ul>

</div>
</div>
<div class="col">
<div class="row">
    <b>Our Solutions</b>
      <ul>
      <li>Pension</li>
      <li>Insurance</li>
    </ul>

</div>
</div>
<div class="col">
<div class="row">
    <b>Online Services</b>
      <ul>
      <li>Zamara Online Portal</li>
      
    </ul>

</div>
</div>
<div class="col">
<div class="row">
<b>
    Resources
</b>
  <ul>
      <li>Publications</li>
      <li>Blogs And Articles</li>
    </ul>
</div>
</div>
</div>
